<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card card-body">
      <title>Mejores tiempos de partida</title>
    </div>
  </div>
</div>
<div align="center">
    <div id="rank" align="center"></div>
    <div><table><tbody>
        <tr>
            <td> Usuario </td>
            <td> Tiempo</td>
        </tr>
        <tr>
            <td> 123 </td>
            <td> {{user.name}}</td>
            <td> {{user.time}}</td>
        </tr>
        <tr>
            <th>12345</th>
            <th> {{user.name}}</th>
            <th> {{user.time}}</th>
        </tr>
        <tr>
            <th>134</th>
            <th> {{user.name}}</th>
            <th> {{user.time}}</th>
        </tr>





        </tbody>
    </table>
</div>


        <script src="./sudokuCore.js"></script>
        <script src="./sudoku.js"></script>
        <script src="http://apps.bdimg.com/libs/jquery/1.8.1/jquery.min.js"></script>